/*Content*/

.banner-div{
 height: 100vh;
}
.banner {
  height: 100vh;
  margin-top: 0;
  padding: 300px 0 200px 0;
  display: flex;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.filtro {
  height: 120vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 1) 100%), url('../assets/img/header-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(45deg, #c900c9, #6f00af);;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  box-shadow:  10px 10px 20px rgba(0, 0, 0, 0.8);
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}

.txt-rotate{
  font-size: 100px;
  background-image: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.name-banner{
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 1); 

}

.rotate-div{
  padding-top:30px;
}


@media (max-width: 991px) {

  .banner {
    padding: 250px 0 200px 0;
  
  }
  
  .rotate-div{
    padding-top:130px;
  }
}



  

 


  
  