

.div-nav{
    display: flex;
   justify-content: center;
   z-index: 1000;
   
}
/*NavBar Deafult*/

nav.navbar {
  z-index: 1000;
  position: fixed;
  width: 90%;
  max-width: 1400px;
  height: 4vw;
  min-height: 75px;
  background-color:  rgb(29,29,29);
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  padding: 0;

  top: 20px;
  box-shadow:  10px 10px 30px rgba(0, 0, 0, 1);
}


.navbar-text-left {
    margin-right: auto; 
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;    
}


.navbar-text-right {
    margin-left: auto; 
    display: flex;
    align-items: center;
}

.me-auto {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    max-width: 1000px;
    padding-right: 20px;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 700;
  height: 5vw;
  max-height: 100px;
  width: 10vw;
  max-width: 200px;

  color: #ffffff ;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
  opacity: 0.75;

  display: flex;
  align-items: center;
  justify-content: center;
  
}
nav.navbar  .nav-link.navbar-link:hover{
    opacity: 1;
    font-weight: 700;
    background-size: 200%;
    background: linear-gradient(45deg, #c900c9, #6f00af);
    color: white;
    transition: background-color 0.32s ease-in-out;
    

}

/*ICONS*/

span.navbar-text {
    margin-left: auto; 
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 0;
}
.social-icon a {
    opacity: 0.75;
    height: 4vw;
    width: 4vw;
    max-width: 70px;
    max-height: 70px;
    background: rgba(0, 0, 0, 0);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
}

.social-icon a:hover {
    opacity: 1;
    
}

.social-icon a:hover {
    content: "";
    height: 4vw;
    width: 4vw;
    max-width: 70px;
    max-height: 70px;
    background: linear-gradient(45deg, #c900c9, #6f00af);
    border-radius: 50%;
    transform: scale(1);
	transition: 0.3s ease-in-out;
    opacity: 1;
}

.social-icon a img {
	width: 55%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(100) saturate(100%) sepia(7%) saturate(98%) hue-rotate(346deg) ;
}


/* Ajustando o botão hamburguer para ser branco */
.navbar .custom-toggler {
    background:linear-gradient(45deg, #c900c9, #6f00af);
  }
  
  .navbar .custom-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
  
  /* Estilo do menu colapsado */
  .navbar-collapse {
    background-color: transparent;
    z-index: 1000;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
}

/* Mostra a navbar colapsada apenas em telas menores que 992px */
@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute; 
        width: 100%; 
        top: 60px; 
        left: 0; 
        background-color:  rgb(29,29,29);
        border-radius: 15px;
        padding: 0;
        border: 5px solid rgba(0, 0, 0, 0.5);
    }
}
  


  
  

